// you can change config here
$colors: (
  #c0392b,
  #d35400,
  #f39c12,
  #27ae60,
  #16a085,
  #2980b9,
  #8e44ad,
  #2c3e50,
  #7f8c8d
) !default;

// $colors: (
//   rgba(192, 57, 43, 0.5),
//   rgba(211, 84, 0, 0.5),
//   rgba(243, 156, 18, 0.5),
//   rgba(39, 174, 96, 0.5),
//   rgba(22, 160, 133, 0.5),
//   rgba(41, 128, 185, 0.5),
//   rgba(142, 68, 173, 0.5),
//   rgba(44, 62, 80, 0.5),
//   rgba(127, 140, 141, 0.5)
// ) !default;